header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c5e99;
  padding: 10px;
  border-bottom: 5px solid #000;
}

a {
  display: inline-flex;
  align-items: center;
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: white;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
}

a:hover {
  opacity: 0.5;
}

img {
  padding-left: 20px;
}
